<ion-header [translucent]="true">
  <img src="../../assets/image/title-image.png" style="width: 100%;">
</ion-header>

<ion-content [fullscreen]="true" style="--background: #E0E0E0;">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div style="text-align: center;">About us</div>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 25px 10px;background-color: #757575;">
      <ion-col size="12">
        <img src="../../assets/image/about-us.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="position: fixed;bottom: -5px;">
    <img src="../../assets/image/footer.png" style="width: 100%;">
  </div>
</ion-content>
