<ion-header>
  <img src="../../assets/image/title-image.png" style="width: 100%;">
</ion-header>

<ion-content style="--background: #E0E0E0;">
  <ion-grid style="padding: 5px 0px;height: 90%;">
    <ion-row>
      <ion-col size="12">
        <img [src]="detailsNews.img" style="width: 100%;height: 100%;padding-top: 10px;">
      </ion-col>
      <ion-col size="12" style="padding: 0px;">
        <h4>{{detailsNews.title}}</h4>
        <p>{{detailsNews.desc}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="position: fixed;bottom: -5px;width: 100%;height: 10%;">
    <img src="../../assets/image/footer.png" style="width: 100%;">
  </div>
</ion-content>
