<ion-header [translucent]="true">
  <img src="../../assets/image/title-image.png" style="width: 100%;">
</ion-header>

<ion-content [fullscreen]="true" style="--background: #E0E0E0;">

  <ion-grid style="padding: 30px 10px;">
    <ion-row style="display: flex;justify-content: center;text-align: center;">
      <ion-col col-4 text-center>
        <div class="user-title">Government</div>
        <img src="../../assets/image/gov.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-center>
        <div class="user-title">Company</div>
        <div>
          <img src="../../assets/image/company.png">
        </div>
      </ion-col>
      <ion-col col-4></ion-col>
      <ion-col col-4 text-center>
        <div class="user-title">Person</div>
        <div>
          <img src="../../assets/image/person.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="position: fixed;bottom: -5px;">
    <img src="../../assets/image/footer.png" style="width: 100%;">
  </div>

</ion-content>
